<!-- <h1>{{ this.company.name }}</h1>
<p>{{ this.company.description }}</p>
<p>{{ this.company.address }}</p>
<p>{{ this.company.phoneNumber }}</p>
 -->










<hr />
<div class="mt-5 container-fluid">
    <h2>DEBUG:: WHERE COMPANY ID = COMPANY ID && CART SUBMITTED == FALSE</h2>
    <label for="CartTable">Items in your cart</label>
    <table class="table table-striped">
       <tr>
           <thead>
               <th>DEBUG:: EMPTY</th>
               <th>ITEMS</th>
               <th>COST</th>
               <th>DISCOUNT APPLIED</th>
               <th>Duplicate Item</th>
               <th>Remove Item</th>
           </thead>
       </tr>
        <tr>
            <tbody>
                <td>DEBUG:: DISPLAY ID HERE</td>
                <td>Item Name</td>
                <td>Cost</td>
                <td>Discount</td>
                <td><button class="btn btn-primary">Duplicate</button></td>
                <td><button class="btn btn-danger">Remove</button></td>
            </tbody>
        </tr>
    </table>
</div>
 <hr /> <hr /> <hr /> <hr /> <hr /> <hr />
<div class="mt-5 container-fluid">
    <h1>DEBUG:: WHERE CURRENTSTATUS == cooking</h1>
    <label for="OrdersTable">current ORDERs</label>
    <table class="table table-striped">
       <tr>
           <thead>
               <th>DEBUG:: EMPTY</th>
               <th>DATE ORDERED</th>
               <th>TOTAL COST</th>
               <th>Began Cooking At</th>
               <th>Time_Submitted</th>
           </thead>
       </tr>
        <tr>
            <tbody>
                <td>DEBUG:: DISPLAY ID HERE</td>
                <td>DATE ORDERED</td>
                <td>TOTAL COST</td>
                <td>Began Cooking At</td>
                <td>Time_Submitted</td>
                <td><button class="btn btn-primary">ETA</button></td>
            </tbody>
        </tr>
    </table>
</div>
 <hr /> <hr /> <hr /> <hr /> <hr /> <hr />
 
<div class="mt-5 container-fluid">
    <h1>DEBUG:: WHERE CURRENTSTATUS == BEING_DELIVERED</h1>
    <label for="OrdersTable">ORDER OUT FOR DELIVERY</label>
    <table class="table table-striped">
       <tr>
           <thead>
               <th>DEBUG:: EMPTY</th>
               <th>DATE ORDERED</th>
               <th>TOTAL COST</th>
               <th>TIME__DELIVERED</th>
               <th>ETA</th>
           </thead>
       </tr>
        <tr>
            <tbody>
                <td>DEBUG:: DISPLAY ID HERE</td>
                <td>DATE ORDERED</td>
                <td>TOTAL COST</td>
                <td>TIME__DELIVERED</td>
                <td><button class="btn btn-primary">ETA</button></td>
            </tbody>
        </tr>
    </table>
</div>
 <hr /> <hr /> <hr /> <hr /> <hr /> <hr />
 


<div class="mt-5 container-fluid">
    <h1>DEBUG:: WHERE CURRENTSTATUS == COMPLETED</h1>
    <label for="OrdersTable">Previous Orders</label>
    <table class="table table-striped">
        <tr>
            <thead>
                <th>DEBUG:: EMPTY</th>
                <th>DATE ORDERED</th>
                <th>TOTAL COST</th>
                <th>TIME__DELIVERED</th>
                <th>VIEW ITEMS</th>
                <th>RE-ORDER</th>
            </thead>
        </tr>
         <tr>
             <tbody>
                 <td>DEBUG:: DISPLAY ID HERE</td>
                 <td>DATE ORDERED</td>
                 <td>TOTAL COST</td>
                 <td>TIME__DELIVERED</td>
                 <td><button class="btn btn-rimary">VIEW ITEMS</button></td>
                 <td><button type="button" class="btn btn-success">RE-ORDER</button></td>
             </tbody>
         </tr>
     </table>
</div>
 <hr /> <hr /> <hr /> <hr /> <hr /> <hr />