
<div>
    {{COMPANY__FOUND.name}}
    {{COMPANY__FOUND.id}}
    {{UserFound.email}}
</div>
<div>
    Cart Drawer
    {{CURRENT__CART.companyId}}
    <div *ngFor="let item of CURRENT__CART.items">
        {{item.price}}
        {{item.count}}
    </div>
</div>
<div>
    <img height="150px" src="https://media-cdn.tripadvisor.com/media/photo-p/12/4d/9c/ae/la-imperial-bakery-cafe.jpg" alt="{{COMPANY__FOUND.name}} logo">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p>
                
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                {{COMPANY__FOUND.description}}
            </p>
        </div>
    </div>
</div>
<!-- <ng-container> -->
<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-4" *ngFor="let product of COMPANY__PRODUCTS">
            <div class="panel panel-primary">
                <div class="panel-heading mt-3">{{product.name}}</div>
                <div class="panel-body">
                    <img src="https://placehold.it/150x80?text=IMAGE" style="width:100%" alt="Image">
                    <h6 class="offset-5 mt-3">{{product.price_Current}}</h6>
                </div>
                    <div class="form-control bg-success">
                        <button (click)="ADD__TO__CART($event)" id={{product.id}} class="offset-3 btn btn-small btn-success" type="submit">
                            Add to cart
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- </ng-container> -->

<ng-container>
    <div *ngIf="CURRENT__CART.companyId != '0'" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Total: ${{CURRENT__CART.cost}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add 1</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of CURRENT__CART.items">
                    <th scope="row">{{item.count}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><button (click)="ADD__TO__CART($event)" id={{item.id}} class="btn btn-warning">+</button></td>
                    <td><button (click)="REMOVE__ONE($event)" id={{item.id}} class="btn btn-danger">-</button></td>
                  </tr>
              </table>
              <button (click)="TRUNCATE($event)" id={{CURRENT__CART.id}} class="btn btn-outline-secondary">Empty Cart</button>
              <button (click)="CHECKOUT($event)" id={{CURRENT__CART.id}} class="offset-3 btn btn-primary">Checkout</button>
          </div>
          
        </div>
      </div>
</ng-container>

