
<div>
    <img src="{{v2_Company.logoImageUrl}}" alt="{{v2_Company.name}} logo">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p>
                
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                {{v2_Company.description}}
            </p>
        </div>
    </div>
</div>
<!-- <ng-container> -->
<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-4" *ngFor="let product of v2_Products">
            <div class="panel panel-primary">
                <div class="panel-heading mt-3">{{product.name}}</div>
                <div class="panel-body">
                    <img src="{{product.image}}" style="width:100%" alt="Image">
                    <h6 class="offset-5 mt-3">{{product.default_price}}</h6>
                </div>
                    <div class="form-control bg-success">
                        <button (click)="v2_AddItemToCart($event)" id={{product.id}} class="offset-3 btn btn-small btn-success" type="submit">
                            Add to cart
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- </ng-container> -->

<ng-container>
    <div *ngIf="v2_Cart.companyId > StringsAreAMatch" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Total: ${{v2_Cart.costInString}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add 1</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of v2_Cart.items">
                    <th scope="row">{{item.quantity}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.default_price}}</td>
                        <td><button (click)="v2_AddItemToCart($event)" id={{item.id}} class="btn btn-warning">+</button></td>
                        <td><button (click)="v2_RemoveItemFromCart($event)" id={{item.id}} class="btn btn-danger">-</button></td>
                  </tr>
              </table>
              <button (click)="v2_EmptyCart($event)" id={{v2_Cart.id}} class="btn btn-outline-secondary">Empty Cart</button>
              <button (click)="v2_CheckoutDelivery($event)" id={{v2_Cart.id}} class="btn btn-success">Order as Delivery</button>
              <button (click)="v2_CheckoutDelivery($event)" id={{v2_Cart.id}} class="btn btn-info">Order as Pickup</button>
          </div>
        </div>
      </div>
</ng-container>

