{{ this.COMPANY__FOUND.name }}

<ng-container>
    <div class="container-fluid" *ngIf="(UserFound)">
        {{UserFound.email}}
    </div>
</ng-container>

<ng-container>
    <div class="container-fluid mt-5 mb-5 pb-5" *ngIf="(this.COMPANY__FOUND.name != '')">
        <h5>Here is company admin</h5>
        <div class="row">
            <div class="col-lg-4">
                <h5>Delete Admin</h5>
                <form>
                <ul>
                    <li>Admin: Name <button class="btn btn-danger">Delete</button></li>
                    <li>Admin: Name <button class="btn btn-danger">Delete</button></li>
                </ul>
                </form>
            </div>
            <div class="col-lg-4">
                <h5>Add Admin</h5>
                <form
                    class="form-control"
                    [formGroup]="FORM__API__ADMIN__REGISTER"
                    (ngSubmit)="API__ADMIN__REGISTER()">
                    
                    <div class="form-group">
                    <label>Email Address</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="email"
                        placeholder="Enter Email Address"
                        />
                    </div>

                    <button type="submit" class="mt-3 btn btn-block btn-primary">Register</button>
                </form>
            </div>
            <div class="col-lg-4">
                <h5>View Company Details</h5>
                <ul>
                    <li>{{ COMPANY__FOUND.name }}</li>
                    <li>{{ COMPANY__FOUND.description }}</li>
                    <li>{{ COMPANY__FOUND.address }}</li>
                    <li>{{ COMPANY__FOUND.phoneNumber }}</li>
                    <li *ngFor="let product of COMPANY__FOUND.products">{{ product.name }}</li>
                </ul>
            </div>
        </div>
        <div class="row mb-5">
            <h5 class="offset-3 mt-5 mb-5">Product Details</h5>
            <div class="col-lg-4">
                <h5>Add new product!</h5>
                <form action={{newProductAction}} enctype="multipart/form-data" method="post">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" placeholder="name" name="Name">       
                    
                    <label for="description">Description</label>
                    <input class="form-control" type="text" placeholder="description" name="Name">

                    <label for="price_Normal">Normal Price</label>
                    <input class="form-control" type="number" placeholder="1.99" name="price_Normal">

                    <label for="price_Sale">Sale Price</label>
                    <input class="form-control" type="number" placeholder="1.99" name="price_Sale">

                    <label for="imageURL">Image</label>
                    <input class="form-control" type="file" name="imageURL">

                    <input class="form-control" type="text" value={{COMPANY__FOUND.id}} hidden name="CompanyId">

                    <label>Product Category</label>
                    <select formControlName="Keyword" class="form-control" name="Keyword">
                        <option disabled value="">Keyword</option>

                            <option value="Entree/Breakfast">Entree/Breakfast</option>
                            <option value="Entree/Lunch">Entree/Lunch</option>

                            <option value="Appetizer/Breakfast">Appetizer/Breakfast</option>
                            <option value="Appetizer/Lunch">Appetizer/Lunch</option>

                            <option value="Dessert/Breakfast">Dessert/Breakfast</option>
                            <option value="Dessert/Lunch">Dessert/Lunch</option>

                            <option value="Drink/Breakfast">Drink/Breakfast</option>
                            <option value="Drink/Lunch">Drink/Lunch</option>

                            <option value="Clothing/Shorts">Clothing/Shorts</option>
                            <option value="Clothing/Pants">Clothing/Pants</option>

                            <option value="Clothing/Dress">Clothing/Dress</option>
                            <option value="Clothing/Blouse">Clothing/Blouse</option>

                            <option value="Clothing/Socks">Clothing/Socks</option>
                            <option value="Clothing/Shoes">Clothing/Shoes</option>

                            <option value="Clothing/Jacket">Clothing/Jacket</option>

                            <option value="Accessories/Winter">Accessories/Winter</option>
                            <option value="Accessories/Summer">Accessories/Summer</option>
                    </select>

                    <button class="mt-3 mb-3 btn btn-large btn-success">Create</button>
                </form>
            </div>
            <div class="col-lg-4 mt-3 ">
                <h4>DELETE PRODUCT</h4>
                <form class="form-group"
                [formGroup]="FORM__COMPANY__DELETE__PRODUCT"
                (ngSubmit)="COMPANY__DELETE__PRODUCT()">
                        <div class="form-control">
                            <select formControlName="productId" >
                                <option disabled>SELECT Product</option>
                                <option *ngFor="let product of PRODUCTS__LIST" [ngValue]="product.id">
                                    {{product.name}}
                                </option>
                            </select>
                        </div>
                    <button class="mt-3 mb-3 btn btn-large btn-success">submit</button>
                </form>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-12">
                <div class="container-fluid">
                    <h3>Current Orders</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Time_Submitted</td>
                                <td>currentStatus</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>1pm</td>
                                <td>delivered</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><p>thank you</p></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-12">
                <div class="container-fluid">
                    <h3>Previous Orders</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>time__Delivered</td>
                                <td>currentStatus</td>
                                <td>re-order</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>1pm</td>
                                <td>delivered</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><button class="btn btn-success">Re-order</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {{ this.COMPANY__FOUND.name }}
    </div>
</ng-container>
<ng-container>
    <div *ngIf="CURRENT__CART.companyId != '0'" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Total: ${{CURRENT__CART.cost}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Add 1</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of CURRENT__CART.items">
                    <th scope="row">{{item.count}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><button (click)="ADD__TO__CART($event)" id={{item.id}} class="btn btn-warning">+</button></td>
                    <td><button (click)="REMOVE__ONE($event)" id={{item.id}} class="btn btn-danger">-</button></td>
                  </tr>
              </table>
              <button (click)="TRUNCATE($event)" id={{CURRENT__CART.id}} class="btn btn-outline-secondary">Empty Cart</button>
              <!-- <button (click)="CHECKOUT($event)" id={{CURRENT__CART.id}} class="offset-3 btn btn-primary">Checkout</button> -->
              <button (click)="CHECKOUT($event)" id={{CURRENT__CART.id}} class="offset-3 btn btn-primary">Checkout</button>
          </div>
          
        </div>
      </div>
</ng-container>