<div class="container-fluid">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Update Profile Here
            </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="text-center">Update Password</h5>
                            <form
                                class="form-control"
                                [formGroup]="FORM_updatePassword"
                                (ngSubmit)="updatePassword()"
                                >
                                
                            <div class="form-group">
                                <label>Current Password</label>
                                <input
                                type="password"
                                class="form-control"
                                formControlName="currentPassword"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>New Password</label>
                                <input
                                type="password"
                                class="form-control"
                                formControlName="newPassword"
                                />
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Sign up</button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <h5 class="text-center">Update Profile</h5>
                            <form
                                class="form-control"
                                [formGroup]="FORM_updateProfile"
                                (ngSubmit)="updateProfile()"
                                >
                                
                            <div class="form-group">
                                <label>Name</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="name"
                                ngModel="{{v2_Staff.name}}"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="phoneNumber"
                                ngModel="{{v2_Staff.phoneNumber}}"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>Street</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="addressStreet"
                                ngModel="{{v2_Staff.addressStreet}}"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>Suite</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="addressSuite"
                                ngModel="{{v2_Staff.addressSuite}}"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>City</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="addressCity"
                                ngModel="{{v2_Staff.addressCity}}"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>State</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="addressState"
                                ngModel="{{v2_Staff.addressState}}"
                                />
                            </div>
                        
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input
                                type="text"
                                class="form-control"
                                formControlName="addressPostal_Code"
                                ngModel="{{v2_Staff.addressPostal_Code}}"
                                />
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                View Orders that have not yet been completed
            </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <ng-container>
                    <div class="container-fluid mt-5 mb-5 pb-5" *ngIf="v2_ActiveOrders.length > StringsAreAMatch">
                        <div>
                            <h4>Active Orders</h4>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Delivery or Pickup</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Order will be ready at</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let order of v2_ActiveOrders">
                                    <th scope="row">{{order.method}}</th>
                                    <td>{{order.status}}</td>
                                    <td>{{order.eta}}</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                    </div>
                </ng-container>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                View Completed Orders
            </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <ng-container>
                    <div class="container-fluid mt-5 mb-5 pb-5" *ngIf="v2_CompletedOrders.length > StringsAreAMatch">
                        <div>
                            <h4>Active Orders</h4>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Delivery or Pickup</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Order will be ready at</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center" colspan="3" >...Loading Orders...</td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                    </div>
                </ng-container>
            </div>
            </div>
        </div>
    </div>
</div>
<ng-container>
    <div *ngIf="v2_Cart.companyId > StringsAreAMatch" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Total: ${{v2_Cart.costInString}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Quantity</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Add 1</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of v2_Cart.items">
                        <th scope="row">{{item.quantity}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.default_price}}</td>
                            <td><button (click)="v2_AddItemToCart($event)" id={{item.id}} class="btn btn-warning">+</button></td>
                            <td><button (click)="v2_RemoveItemFromCart($event)" id={{item.id}} class="btn btn-danger">-</button></td>
                      </tr>
                  </table>
                  <button (click)="v2_EmptyCart($event)" id={{v2_Cart.id}} class="btn btn-outline-secondary">Empty Cart</button>
                  <button (click)="v2_CheckoutDelivery($event)" id={{v2_Cart.id}} class="btn btn-success">Order as Delivery</button>
                  <button (click)="v2_CheckoutDelivery($event)" id={{v2_Cart.id}} class="btn btn-info">Order as Pickup</button>
              </div>
        </div>
      </div>
</ng-container>